@use 'select-base'
//
$primary-color: #7E9BBD
//
//@mixin theme($theme: $primary-color)
//  background: $theme
//  box-shadow: 0px 4px 8px rgba($theme, 0.6)

//rgba(176, 198, 225, 0.6)


.default-size
  width: 100%
  min-height: 40px

  &.large
    min-height: 80px

  &.small
    min-height: 20px

.basic-font-settings
  font-weight: 500
  font-size: 16px
  line-height: 20px
  font-family: select-base.$font-stack

  &.large
    font-size: 36px

  &.small
    font-size: 10px

.dropdown-container
  @extend .default-size
  position: relative
  box-sizing: border-box

  &:focus
    outline-color: $primary-color

.dropdown-placeholder
  color: gray
  @extend .basic-font-settings

.dropdown-button-active
  background: rgba(176, 198, 225, .25)

.selected-items-options
  align-items: center
  align-self: stretch
  display: flex
  flex-shrink: 0
  box-sizing: border-box

.dropdown-button
  @extend .basic-font-settings
  @extend .dropdown-container
  display: flex
  justify-items: center
  flex-wrap: wrap
  justify-content: space-between
  border: 1px solid $primary-color
  border-radius: 5px
  &:focus
    border: 2px solid $primary-color
  &:hover
    border: 2px solid $primary-color

.dropdown-indicator
  display: flex
  padding: 8px
  box-sizing: border-box

.dropdown-menu-container
  position: absolute
  width: 100%
  margin-top: 5px
  background-color: white
  box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6)
  overflow: hidden
  border-radius: 5px
  z-index: 1
  height: 300px

.dropdown-menu-options
  margin: 0
  padding: 0
  list-style: none
  height: 100%
  overflow-y: auto
  left: 0

.dropdown-option-item
  @extend .basic-font-settings
  cursor: pointer
  padding: 13px 20px
  border-bottom: 0
  &:hover
    @extend .dropdown-button-active

.selected-items-container
  width: 100%
  display: flex
  align-items: center
  flex: 1 1 0%
  flex-wrap: wrap
  overflow: hidden
  padding: 2px 8px
  box-sizing: border-box

.selected-item
  display: flex
  background: #cbcbcb
  border-radius: 6px
  margin: 3px

.selected-item-value
  @extend .basic-font-settings
  overflow: hidden
  text-overflow: ellipsis
  padding: 4px 4px 4px 8px

.selected-item-remove-btn
  @extend .basic-font-settings
  align-items: center
  display: flex
  padding-left: 4px
  padding-right: 4px
  box-sizing: border-box
  cursor: pointer

  &:hover
    color: #FF2222BA
    background-color: #FF22223A
    border-bottom-right-radius: 6px
    border-top-right-radius: 6px

.selected-items-clear-btn
  cursor: pointer
  align-items: center
  display: flex
  padding-left: 4px
  padding-right: 4px
  box-sizing: border-box
  color: gray
  &:hover
    color: black




