//                    Basic inheritable styles
.default-size
  width: 100%
  min-height: 40px

.cursor-pointer
  cursor: pointer

.basic-font-size
  font-weight: 500
  font-size: 16px
  line-height: 20px

//                     Dropdown styles

// Background style
.dropdown-container
  @extend .default-size
  position: relative
  box-sizing: border-box

// Button styles
.dropdown-button-active
  background: rgba(176, 198, 225, 0.26)

.selected-items-options
  align-items: center
  align-self: stretch
  display: flex
  flex-shrink: 0
  box-sizing: border-box

.dropdown-button
  @extend .basic-font-size
  @extend .dropdown-container
  display: flex
  justify-items: center
  position: relative
  box-sizing: border-box
  flex-wrap: wrap
  justify-content: space-between
  border: 1px solid #7E9BBD
  border-radius: 6px
  

  //&:focus
  //  outline: none
  //  box-shadow: 0px 0px 0px 5px rgba(176, 198, 225, 0.6)

  //&:after
  //  content: ""
  //  @extend .arrow--down
  //  position: absolute
  //  right: 15px
  //  top: 45%

.dropdown-indicator
  display: flex
  padding: 8px
  box-sizing: border-box

.dropdown-list
  position: absolute
  width: 100%
  margin-top: 5px
  background-color: white
  box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6)
  overflow: hidden
  border-radius: 5px
  z-index: 1

.dropdown-list-item
  @extend .cursor-pointer
  //border: 1px solid #7E9BBD
  padding: 13px 20px
  border-bottom: 0

  &:first-child
    border-radius: 5px 5px 0 0

  &:last-child
    border-radius: 0 0 5px 5px
    //border-bottom: 1px solid #7E9BBD

  &:hover
    @extend .dropdown-button-active

// Selected items
.selected-items-container
  width: 100%
  display: flex
  align-items: center
  flex: 1 1 0%
  flex-wrap: wrap
  position: wrap
  padding: 2px 8px
  border-sizing: border-box

.selectedItem
  background: #d6d6d6
  padding: 5px 25px 5px 5px
  border-radius: 5px
  margin-right: 5px
  @extend .basic-font-size
  //color: white
  //position: relative


// Arrow
.arrow
  width: 0
  height: 0
  border-style: solid
  border-width: 0 5px 9px 5px
  border-color: transparent transparent black transparent

.arrow--up
  @extend .arrow

.arrow--down
  @extend .arrow
  transform: rotate(180deg)
