.basic-font-settings
  font-weight: 500
  font-size: 16px
  line-height: 20px
  font-family: Arial

.search-input-container
  @extend .basic-font-settings
  margin: 5px
  display: flex
  justify-items: center
  justify-content: space-between
  min-height: 35px

.search-input
  border: transparent
  width: 100%
  border-bottom-left-radius: 6px
  border-top-left-radius: 6px
  outline: none
  border: 1px solid #7E9BBD
  border-right: none

.search-clear-btn
  cursor: pointer
  border-top: 1px solid #7E9BBD
  border-bottom: 1px solid #7E9BBD
  align-items: center
  display: flex
  padding-left: 4px
  padding-right: 4px
  box-sizing: border-box
  color: #6c757d
  &:hover
    color: black

.search-button
  width: 30px
  outline: none
  border-bottom-right-radius: 6px
  border-top-right-radius: 6px
  overflow: hidden
  cursor: pointer
  display: flex
  background: #7E9BBD
  border: 1px solid #7E9BBD

  &:hover
    background: #678599
    border: 1px solid #678599
    fill: white

.search-icon
  filter: invert(1)
  width: 100%
  height: 100%

